.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* blogList.css */

/* Kiểu cho thẻ h1 */
h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Kiểu cho thẻ ul */
ul {
  list-style: none;
  padding: 0;
}

/* Kiểu cho các mục trong danh sách */
li {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

/* Kiểu cho ảnh (avatar) */
img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Kiểu cho tiêu đề bài viết */
h2 {
  color: #007bff;
  font-size: 18px;
  margin-bottom: 5px;
}

/* Kiểu cho thông tin bài viết */
p {
  margin: 0;
}

/* Kiểu cho ngày đăng */
p.date {
  color: #888;
}

